.nav{
    display: flex;
    background-color: white;
    height: 100px;
    box-shadow: 0px 1px 5px gray;
}

ul{
   position: absolute;
   right: 50px;
   top: 20px;
}


.navbar{
    color: #0B406A;
    text-decoration: none;
    margin-left: 30px;
    font-size: 36px;
    align-self: center;
    justify-content: center;
}

.navbar:hover{
    color: #185ADB;
}

.logo{
    width: 205px;
    height: 85px;
    margin-top: 10px;
    margin-left: 30px;
}

@media only screen and (max-width:600px){

    .nav{
        height: 500px;
        flex-direction: column;
       
    }
    .logo{
        width: 105px;
        height: 55px;
        align-self: center;
    }

    .navbar{
        font-size: 22px;
     margin-left: 0px;
     margin-right: 10%;
        
    }
    ul{
        position:static;
    }
}