.gypa3{
    width: 100%;
    margin-top: 20px;
}


.detale{
    color: #0b406a;
    width: 240px;
    height: 40px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    padding-top: 6px;
    border-radius: 3px;
margin-top: 640px;
    margin-left: 330px;
    display: inline-block;
}


a{
    text-decoration: none;
}



.detale:hover{
    background-color: #29BB89;
}


.first{
    background-image: url('..//images/pomduhet.png');
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    margin-top: 13px;

    box-shadow: 0px 1px 5px gray;
    
}



.third{
    background-image: url('..//images/pomduhet2.png');
    height: 580px;
}

.fourth{
    background-image: url('..//images/pomduhet3.png');
    height: 580px;
}

.fifth{
    background-image: url('..//images/pomduhet4.png')
}

.buton2{
    margin-top: 520px;
}

.buton3{
    margin-top: 520px;
}

.lgbtq{
    margin-top: 20px;
}