@import "./footer";
@import "./carousel";
@import "./navbar";


body{
    font-family: 'Montserrat', sans-serif;
}

.nav{
    display: flex;
    background-color: white;
    height: 100px;
    box-shadow: 0px 1px 5px gray;
}

ul{
   position: absolute;
   right: 50px;
   top: 20px;
}


.navbar{
    color: #0B406A;
    text-decoration: none;
    margin-left: 30px;
    font-size: 36px;
    align-self: center;
    justify-content: center;
}

.navbar:hover{
    color: #185ADB;
}

.logo{
    width: 205px;
    height: 85px;
    margin-top: 10px;
    margin-left: 30z0px;
}

.background{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 1000px;
    background-image: url('../images/background.jpg');
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height:700px ;
    h1{
        font-size: 80px;
        color: white;
        font-weight: bold;
        
    }
    p{
        color: white;
        font-size: 36px;
        align-self: center;
        width: 950px;
        margin-top: 0px;
              font-weight: bold;
    }
}

.prodhimet{
    font-size: 64px;
    color: #0B406A;
    text-align: center;
}

.prodhimet1{
    display: flex;
    .arka1{
    width: 80%;
    height: 340px;
    margin-left:20px ;

    }
    .text1{
        width: 50%;
        height: 500px;
        color: #0B406A;
        margin-left: 0px;
        h2{
            font-size: 40px;
            margin: 0px;
            padding: 0px;
        }
        p{
            font-size: 26px;
        }
    }
   
}


    a{
        text-decoration: none;
        color: #0B406A;
    }

.prodhimet2{
    display: flex;
    margin-top: 0px;
    .ulset{
        margin-left: 100px;
        img{
            width: 80%;
            height: 450px;
        }
        .text3{
            width: 80%;
            color: #0B406A;
            text-align: center;
            h2{
                font-size: 40px;
            }
            p{
                font-size: 26px;
            }
        }
    }

    .ark{
        margin-left: 200px;
    }
}


@media only screen and (max-width:600px){ 
      
}