.footer{
    width: 100%;
    height:100px;
    background-color: #0B406A;
    display: flex;
    
    a{
        width: 60px;
        height: 65px;
        margin-top: 20px;
        margin-left: 60px;
    }

    .phone{
        width: 60px;
        height: 65px;
        margin-top: 20px;
        position: absolute;
        right: 24%;
    }
    p{
        font-size: 36px;
        color: white;
        margin-top: 30px;
        position: absolute;
        right: 3%;
    }
    img{
        width: 60px;
        height: 65px;
        position: absolute;
    }
}