.krejt{
    width: 100%;
    height: 700px;
    margin-top: 15px;
}

h2{
    font-size: 36px;
    text-align: center;
        color: #0B406A;
        margin-top: 180px;
}

.lokacion{
    width: 486px;
    color: #0B406A;
    font-size: 26px;
    margin-left: 40px;
    display: inline-block;
    margin-top: 10px;
    position: absolute;
    top: 1150px;
}

.map{
 display:inline ;
 margin-left: 540px;
 width: 780px;
 margin-bottom: 100px;
}
