.gypa3{
    width: 100%;
    margin-top: 20px;
}

.lo{
    position: absolute;
    margin-right: 20%;
    margin-bottom: -1%;
}
.detale{
    color: #0b406a;
    width: 220px;
    height: 38px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    padding-top: 6px;
    border-radius: 3px;

    
}


a{
    text-decoration: none;
}



.detale:hover{
    background-color: #29BB89;
}

.firsty{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.first{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height:650px;
    background-repeat: no-repeat;
    margin-top: 13px;
    box-shadow: 0px 1px 5px gray;
}

.fifth{
    margin-bottom: 5%;
}



