@import "./navbar";
@import "./footer";

p{
    color: #0B406A;
    text-align: center;
    font-size: 64px;
    margin-bottom: 0px;
}


.big{
    margin-top: 20px;
   width: 60%;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.detalet{
    margin-left: 6%;
    margin-top: 5%;
    display: grid;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: repeat(3,15%);
   grid-column-gap: 260px;
   grid-row-gap: 10px;
    img{
        width: 250px;
        height: 250px;
        
    }
}

.different{
    margin-left: 100%;
}

.last{
    margin-top: 10%;
    display: flex;
    margin-bottom: 10%;
   img{
       margin-left: 12%;
       width:30% ;
       height:30% ;
       display: inline-block;
       margin-bottom: 3%;
   }
}

.imagi{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    margin-top: 4%;
}

.arkat{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    img{
        width: 28%;
        height: 300px;
    }
}


.arkatjera{
    margin-top: 10%;
    img{
        width: 40%;
        height: 500px;
        margin-left: 5%;
        margin-bottom: 10%;
    }
}